.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card .card-list {
    display: flex;
    justify-content: center;
  }
  
  .card table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .card th, .card td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .card th {
    background-color: #f2f2f2;
  }