.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}

.header .logo {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.header nav ul {
    display: flex;
    list-style: none;
    padding: 0; /* Remove qualquer padding padrão */
    margin: 0;  /* Remove qualquer margin padrão */
}

.header nav ul li {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}